$font-family: 'Exo', sans-serif;
$dark-grey-font-color: #282828;
$light-grey-background: #f6f5f3;
$violet-background-color: #323969;
$pink-color: #ff6d6d;
$white-color: #ffffff;
$black-color: #000000;
$font-size-big: 14px;
$font-size-small: 12px;